@charset "utf-8";

/* 헤더, 푸터 공통서식 */
header{
  background: #4b4b4b;
  position: relative;
}
footer{
  background: #1c1c1c;
  position: relative;
}

/* 체크박스 숨기기 */
#toggle{display: none;}

footer{
  background: #3a3a3a;
  position: relative;
}

footer address{
  border-top: 1px solid #ccc;
  color: #fff;
  padding: 15px 2%;
  line-height: 14px;
  font-size: 0.7rem;
}

/* 버튼 공통서식 */
.button{
  font-size: 1rem;
  background: #fff;
  padding: 6px 30px;
  border: 1px solid #ccc;
  transition: 0.5s;
}
.button:hover{
  background: #4b4b4b;
  color: #fff;
}

/* 가운데정렬서식 */
.align_c{
  text-align: center;
}

/* 로그인폼 서식 */
.login{
  position: relative;
}

.login_wrap{
  width: 320px;
  margin: 50px auto 0px auto;
  text-align: center;
  /* border: 2px solid #f00; */
  position: static;
}

.login_wrap > legend{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
}

label[for=id_txt], label[for=pw_txt]{display: none;}

.login_wrap p{margin-bottom: 10px;}

.login_wrap input{
  width: 312px;
  height: 50px;
}

.login_wrap input[type=checkbox]{
  width: 16px;
  height: 16px;
}

.login_wrap input[type=button]{
  width: 320px;
  font-weight: bold;
  border: none;
  color: #fff;
  margin-bottom: 10px;
}

#login_btn{background: #f00;}
.btn01{background: rgb(5, 197, 5);}
.btn02{
  background: rgb(247, 247, 28);
  color: #333 !important;
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .login_wrap{
    padding-bottom: 300px;
  }
}
